.chat-window {
    width: 80%;
    height: 700px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: fit-content;
    word-wrap: break-word;
    /* white-space: pre-line; */
}

.user {
    align-self: flex-end;
    text-align: left;
    justify-content: flex-end;
    max-width: 80%;
    background-color: #f1f1f1;
}

.assistant {
    align-self: flex-start;
    text-align: left;
    justify-content: flex-start;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
}

.system {
    display: none;
}

.input-area {
    display: flex;
    padding: 10px;
}

.gpt-logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

textarea {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #0056b3;
    cursor: default;
}

button:hover {
    background-color: #0056b3
}

p {
    margin: 5px 0px 0px 0px;
}
